<div class="col-12">
  <div class="row" [class.dnf]="dnf">
    <div class="col-12 rider-desc">
      <ng-container *ngIf="!isStatic">
        <a [routerLink]="['/rider', rider.Fei]">
          <sn-rider-name [name]="rider.Name" [draw]="draw" [sum]="sum" [dnf]="dnf"></sn-rider-name>
        </a>
      </ng-container>
      <ng-container *ngIf="isStatic">
          <sn-rider-name [name]="rider.Name" [draw]="draw" [sum]="sum" [dnf]="dnf"></sn-rider-name>
      </ng-container>
      <ng-container *ngIf="rider.OtherName"> ({{ rider.OtherName }})</ng-container><br/>{{ rider.BaseDescriptor }} {{ rider.Fei }}
      <p *ngIf="rider.Notes !== ''" innerHTML="{{ rider.Notes }}">
      </p>
      <p>Horses: {{ rider.horseList }}</p>
    </div>
  </div>
</div>