@import "src/variables.scss";

div.scoretable {
    div {
        background-color: $background-panels;
        padding: 10px;
    }

    border-radius: 10px 0 0 10px;
    border-bottom: 3px solid black;
  
td {
    border-bottom: 1px solid #0d3532;
    &.score-left {
      padding-right: 16px;
    }
    &.score-part-position {
      font-weight: bold;
    }
    &.score-dnf {
      font-style: italic;
    }
    &.score-part {
      padding-right: 16px;
      font-family: monospace;
      text-align: right;
    }
  }
}